<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Carosel Norton Distribuidora</title>
 <link rel="stylesheet" href="style.css">
</head>
<body>



  <section class="norton-carrossel">
   <div class="norton-carrossel-esquerda">
    <section posicao="centro">
     <div id="carouselTrack-1">
       <!-- AQUI ENTRA A LISTA DE IMAGENS A SEREM ROLADAS -->
     </div>
     <a href="#">
      <img src="./img/banner-site-i6fqmgy82p.jpg" alt="Banner 1">
     </a>
    </section>
   </div>
   <div class="norton-carrossel-direita">
    <section posicao="topo">
     <div id="carouselTrack-2">
      <!-- AQUI ENTRA A LISTA DE IMAGENS A SEREM ROLADAS -->
    </div>
    </section>
    <section posicao="final">
     <div id="carouselTrack-3">
      <!-- AQUI ENTRA A LISTA DE IMAGENS A SEREM ROLADAS -->
    </div>
    </section>
   </div>
  </section>



  <script src="./construct.js"></script>
  <script src="./script.js"></script>
</body>
</html>